@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
html {
  max-width: 1960px;
  max-height: 1080px;
  margin: auto;
}

:root {
  --blue_color: #9e9ff4;
  --text: #8482a7;
  --karla: "Karla", sans-serif;
  --inter: "inter", sans-serif;
  --homepage: #e3fbf4;
  --dark_blue: #1c1760;
}

p {
  font-family: var(--karla);
  font-size: 16px;
  color: var(--text);
}
h2 {
  font-family: var(--karla);
}

h3 {
  font-family: var(--karla);
  font-weight: 600;
}
.active {
  color: var(--blue_color);
}
.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  // overflow: hidden;
  .side_bar_place {
    // border: 2px solid black;
    width: 300px;
  }
  .pages_place {
    // border: 2px solid rgb(255, 9, 9);
    height: 100%;
    width: calc(100% - 300px);
    .sidebar_mobile_container {
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: white;
    }
  }
}

// Sidebar----------------------------------------------------------

.sidebar_container {
  position: fixed;
  left: 0;
  width: 300px;
  // background-color: rgb(198, 190, 190);
  height: 100vh;
  .size_manager {
    height: 100%;
    .thumbnail_box {
      width: 100%;
      // border: 2px solid var(--blue_color);
      height: 25%;
      display: flex;
      place-content: center;
      place-items: center;
      flex-direction: column;
      .img_box {
        height: 82px;
        width: 82px;
        border: 3px solid var(--blue_color);
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        place-content: center;
        img {
          height: 100%;
          transform: scale(1.1);
        }
      }
      .name_box {
        padding: 10px;
        h2 {
          font-size: 19px;
          color: var(--dark_blue);
          font-weight: 600;
          font-family: var(--inter);
        }
      }
    }

    .navigation_container {
      // border: 2px solid black;
      height: 50%;
      width: 100%;
      display: flex;
      place-content: center;
      place-items: center;
      ul {
        // border: 2px solid black;
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        place-content: center;
        li {
          text-align: center;
          padding: 20px;
          a {
            text-decoration: none;
            color: var(--text);
            font-size: 18px;
            font-weight: 200;
            font-family: "Karla", sans-serif;
            transition: 0.5s ease;

            &:hover {
              color: var(--blue_color);
            }
          }
        }
      }
    }
    .copyright_container {
      height: 20%;
      // border: 2px solid green;
      position: relative;
      display: flex;
      flex-direction: column;
      place-content: center;
      .social_media_handle {
        display: flex;
        place-content: center;
        a {
          color: var(--dark_blue);
          padding: 10px;
          cursor: pointer;
        }
      }
      p {
        text-align: center;
      }
    }
  }
}

// -------------------------------------------------------------------

@mixin global_button {
  height: 50px;
  width: 190px;
  border-radius: 4px;
  transition: 0.3s ease;
  // margin: 10px;
  font-size: 16px;
  cursor: pointer;
}

.global_button_fill {
  @include global_button;
  background-color: #130f49;
  color: white;
  &:hover {
    border: 2px solid #130f49;
    color: #130f49;
    background-color: transparent;
  }
}

.global_button_nofill {
  @include global_button;
  border: 2px solid #130f49;
  color: #130f49;
  background-color: transparent;
  margin-left: 10px;
  &:hover {
    background-color: #130f49;
    color: white;
  }
}

//Homepage Container---------------------------------------------------------------
.homepage_container {
  height: 100vh;
  background-color: var(--homepage);
  display: flex;
  place-items: center;
  place-content: center;
  .internal_space {
    display: flex;
    align-items: center;
    height: 80%;
    flex-direction: row-reverse;
    padding: 10px;
    .image_container {
      // border: 2px solid black;
      height: 50%;
      width: 50%;
      display: flex;
      place-content: center;
      place-items: center;
      img {
        height: 430px;
        width: 380px;
        transform: scaleX(-1);
        // filter: contrast(-10%);
      }
    }
    .data_container {
      // border: 2px solid black;
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      place-content: center;
      h1 {
        font-size: 50px;
        font-family: var(--karla);
        color: var(--dark_blue);
        font-weight: 800;
        span {
          color: var(--blue_color);
        }
      }
      p {
        font-family: var(--karla);
        color: var(--text);
      }
      .location_details {
        border-left: 4px solid orange;
        padding: 10px;
        p {
          font-weight: 600;
          color: var(--dark_blue);
          padding: 5px;
          font-size: 16px;
          transition: 0.3s ease;
          &:hover {
            color: orange;
            cursor: pointer;
          }
        }
      }
    }
  }
}

//----------------------------------------------------------------------------------

// About Page container

.about_page_container {
  height: auto;
  .size_manager {
    padding: 85px;
    height: auto;
    .about_aw_biography {
      width: 100%;
      display: flex;
      margin-bottom: 40px;
      .left {
        width: 40%;
        line-height: 1.5;
        h2 {
          color: var(--dark_blue);
          font-size: 30px;
        }
        .global_button_fill {
          margin-top: 15px;
        }
      }
      .right {
        float: right;
        width: 60%;
        // border: 1px solid black;
        p {
          font-size: 18px;
          span {
            color: orange;
          }
        }
        ul {
          li {
            list-style: none;
            margin-right: 0px 40px 20px 0;
            display: inline-block;
            span {
              display: block;
              margin-right: 20px;
              line-height: 1.5;
              &:first-child {
                text-transform: uppercase;
                font-family: var(--inter);
                text-decoration: underline;
                color: var(--text);
              }
              &:last-child {
                font-family: var(--inter);
                font-weight: 700;
                font-size: 16px;
                color: var(--dark_blue);
                opacity: .8;
                &:hover {
                  color: orange;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
    .anil_aw_counter {
      width: 100%;
      height: 200px;
      // border: 2px solid black;
      margin-bottom: 50px;
      ul {
        display: flex;
        justify-content: space-around;
        height: 100%;
        li {
          position: relative;
          list-style: none;
          height: 90%;
          width: 32%;
          display: flex;
          place-content: center;
          place-items: center;
          flex-direction: column;
          border-radius: 4px;
          position: relative;
          overflow: hidden;
          cursor: pointer;

          &::before{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            background-color:rgba($color: white, $alpha: .5);
            transform: rotate3d(0,0,1,45deg) translate3d(0,-220%,0) scale(1.4);
            transition: transform .6s;
            z-index: 3;
          }
          &:hover::before{
            z-index: 1;
            transform: rotate3d(0,0,1,25deg) translate3d(0,200%,0);


          }
          h1 {
            color: var(--dark_blue);
            font-family: var(--inter);
            font-size: 40px;
          }
          p {
            text-transform: uppercase;
          }
          &:first-child {
            background-color: #d3f4ec;
          }
          &:nth-child(2) {
            background-color: #fce8d4;
          }
          &:last-child {
            background-color: #e3f9e0;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .homepage_container {
    .internal_space {
      .image_container {
        img {
          height: 300px;
          width: 300px;
        }
      }
      .data_container {
        h1 {
          font-size: 40px;
        }
      }
    }
  }
  .about_page_container{
    .size_manager{
      padding: 80px 0px 0px 0px;
    }
  }
}

@media screen and (max-width: 870px) {
  .container {
    .side_bar_place {
      width: 200px;
    }
    .pages_place {
      width: calc(100% - 200px);
    }
  }
  .sidebar_container {
    width: 200px;
    .copyright_container {
      p {
        padding: 10px;
        font-size: 15px;
      }
    }
  }
  .about_page_container{
    .size_manager{
      padding: 50px 0px 0px 0px;
      .about_aw_biography{}
      .anil_aw_counter{}
    }
  }
}
.sidebar_mobile_container {
  display: none;
}
@media screen and (max-width: 760px) {
  .sidebar_mobile_container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    .name_container {
      h2 {
        font-family: var(--karla);
        font-size: 30px;
        color: var(--blue_color);
      }
    }
    .open_off_container {
      .menuicon {
        font-size: 35px;
        transition: 0.3s ease;
      }
    }
  }
  .container {
    .side_bar_place {
      display: none;
    }
    .pages_place {
      width: 100%;
    }
  }
  .sidebar_container {
    display: none;
  }
  .homepage_container {
    height: auto;
    .internal_space {
      display: block;
      height: 100%;
      .image_container {
        width: 100%;
        padding: 0;
        margin: 0;
        img {
          height: 300px;
          width: 300px;
        }
      }
      .data_container {
        width: 100%;
        height: auto;
        padding: 20px;
      }
    }
  }
  .about_page_container{
    .size_manager{
        padding: 50px;
        height: 100%;
        .about_aw_biography{
           height: auto;
           display: block;
           float: left;
           .left{
            width: 100%;
           }
           .right{
            float: left;
            margin-top: 50px;
            width: 100%;
           }
        }
        .anil_aw_counter{
            float: left;
            ul{
                display: block;
                li{
                    width: 100%;
                    margin-top: 10px;
                }
            }
        }
    }
  }
}

@media screen and (max-width: 400px) {
  * {
    user-select: none;
  }
  .container {
    overflow: hidden;
  }
  .homepage_container {
    .internal_space {
      .data_container {
        margin-top: 20px;
        h1 {
          font-size: 30px;
        }
      }
    }
  }
}

@keyframes menu {
  from {
    width: 0;
  }
}
