@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select:none;
}

body,
html {
  max-width: 1960px;
  max-height: 1080px;
  margin: auto;
}
.abouttag{
  position: absolute;
  bottom: 100px;
}

:root {
  --blue_color: #9e9ff4;
  --text: #8482a7;
  --karla: "Karla", sans-serif;
  --inter: "inter", sans-serif;
  --homepage: #e3fbf4;
  --dark_blue: #1c1760;
}

a{
  text-decoration: none;
}
p {
  font-family: var(--karla);
  font-size: 16px;
  color: var(--text);
}
h2 {
  font-family: var(--karla);
}

h3 {
  font-family: var(--karla);
  font-weight: 600;
}
.active {
  color: var(--blue_color);
}


.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  // overflow: hidden;
  .side_bar_place {
    // border: 2px solid black;
    width: 300px;
  }
  .pages_place {
    // border: 2px solid rgb(255, 9, 9);
    height: 100%;
    width: calc(100% - 300px);
    .sidebar_mobile_container {
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: white;
    }
  }
}

// Sidebar----------------------------------------------------------

.sidebar_container {
  position: fixed;
  left: 0;
  width: 300px;
  // background-color: rgb(198, 190, 190);
  height: 100vh;
  border-right: .1px solid rgb(212, 212, 212);
  .size_manager {
    height: 100%;
    .thumbnail_box {
      width: 100%;
      // border: 2px solid var(--blue_color);
      height: 25%;
      display: flex;
      place-content: center;
      place-items: center;
      flex-direction: column;
      .img_box {
        height: 82px;
        width: 82px;
        border: 3px solid var(--blue_color);
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        place-content: center;
        img {
          height: 100%;
          transform: scale(1.1);
        }
      }
      .name_box {
        padding: 10px;
        h2 {
          font-size: 19px;
          color: var(--dark_blue);
          font-weight: 600;
          font-family: var(--inter);
        }
      }
    }

    .navigation_container {
      // border: 2px solid black;
      height: 50%;
      width: 100%;
      display: flex;
      place-content: center;
      place-items: center;
      ul {
        // border: 2px solid black;
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        place-content: center;
        li {
          text-align: center;
          padding: 20px;
          a {
            text-decoration: none;
            color: var(--text);
            font-size: 18px;
            font-weight: 200;
            font-family: "Karla", sans-serif;
            transition: 0.5s ease;

            &:hover {
              color: var(--blue_color);
            }
          }
        }
      }
    }
    .copyright_container {
      height: 20%;
      // border: 2px solid green;
      position: relative;
      display: flex;
      flex-direction: column;
      place-content: center;
      .social_media_handle {
        display: flex;
        place-content: center;
        a {
          color: var(--dark_blue);
          padding: 10px;
          cursor: pointer;
        }
      }
      p {
        text-align: center;
      }
    }
  }
}

// -------------------------------------------------------------------

@mixin global_button {
  height: 50px;
  width: 190px;
  border-radius: 4px;
  transition: 0.3s ease;
  // margin: 10px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px 10px 0px 0px;
}

.global_button_fill {
  @include global_button;
  background-color: #130f49;
  color: white;
  border: none;
}


.global_button_nofill {
  @include global_button;
  border: 2px solid #130f49;
  color: #130f49;
  width: 130px;
  background-color: transparent;
}



//Homepage Container---------------------------------------------------------------
.homepage_container {
  height: 100vh;
  background-color: var(--homepage);
  display: flex;
  place-items: center;
  place-content: center;
  .internal_space {
    display: flex;
    align-items: center;
    height: 80%;
    flex-direction: row-reverse;
    padding: 10px;
    .image_container {
      // border: 2px solid black;
      height: 100%;
      width: 100%;
      max-height: 500px;
      display: flex;
      place-content: center;
      place-items: center;
      // border: 2px solid black;
      img {
        height: 100%;
        width: 100%;
        max-width: 500px;
        // transform: scaleX(-1);
        // filter: contrast(-10%);
      }
    }
    .data_container {
      // border: 2px solid black;
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      place-content: center;
      h1 {
        font-size: 50px;
        font-family: var(--karla);
        color: var(--dark_blue);
        font-weight: 800;
        span {
          color: var(--blue_color);
        }
      }
      p {
        font-family: var(--karla);
        color: var(--text);
      }
      .location_details {
        border-left: 4px solid orange;
        padding: 10px;
        p {
          font-weight: 600;
          color: var(--dark_blue);
          padding: 5px;
          font-size: 16px;
          transition: 0.3s ease;
          &:hover {
            color: orange;
            cursor: pointer;
          }
        }
      }
    }
  }
}

//----------------------------------------------------------------------------------

// About Page container

.about_page_container {
  height: auto;
  .size_manager {
    padding: 85px;
    // clear: both;
    .about_aw_biography {
      width: 100%;
      display: flex;
      margin-bottom: 40px;
      .left {
        width: 40%;
        line-height: 1.5;
        padding: 10px;
        h2 {
          color: var(--dark_blue);
          font-size: 30px;
        }
        .global_button_fill {
          margin-top: 15px;
        }
      }
      .right {
        float: right;
        width: 60%;
        // border: 1px solid black;
        p {
          font-size: 18px;
          span {
            color: orange;
          }
        }
        ul {
          li {
            list-style: none;
            margin-right: 0px 40px 20px 0;
            display: inline-block;
            span {
              display: block;
              margin-right: 20px;
              line-height: 1.5;
              &:first-child {
                text-transform: uppercase;
                font-family: var(--inter);
                text-decoration: underline;
                color: var(--text);
              }
              &:last-child {
                font-family: var(--karla);
                font-weight: 700;
                font-size: 16px;
                color: var(--dark_blue);
                opacity: 0.9;
                &:hover {
                  color: orange;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
    .anil_aw_counter {
      width: 100%;
      // border: 2px solid black;
      margin-bottom: 50px;
      ul {
        display: flex;
        justify-content: space-around;
        height: 100%;
        li {
          position: relative;
          list-style: none;
          height: 200px;
          width: 32%;
          display: flex;
          place-content: center;
          place-items: center;
          flex-direction: column;
          border-radius: 4px;
          position: relative;
          overflow: hidden;
          cursor: pointer;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            height: 100%;
            width: 150%;
            background-color: rgba($color: white, $alpha: 0.5);
            transform: rotate3d(0, 0, 1, 45deg) translate3d(0, -220%, 0)
              scale(1.4);
            transition: transform 0.6s;
            z-index: 3;
          }
          &:hover::before {
            z-index: 1;
            transform: rotate3d(0, 0, 1, 25deg) translate3d(0, 200%, 0);
          }
          h1 {
            color: var(--dark_blue);
            font-family: var(--inter);
            font-size: 40px;
          }
          p {
            text-transform: uppercase;
          }
          &:first-child {
            background-color: #d3f4ec;
          }
          &:nth-child(2) {
            background-color: #fce8d4;
          }
          &:last-child {
            background-color: #e3f9e0;
          }
        }
      }
    }
  }
}
.anil_aw_experience {
  width: 100%;
  float: left;
  // border: 2px solid black;
  background-color: #f3f9ff;
  .header {
    h1 {
      font-size: 30px;
      font-family: var(--karla);
      color: var(--dark_blue);
      opacity: 0.8;
    }
  }
}
.aw_experience_listing {
  padding-top: 50px;
  // border: 2px solid black;
  width: 100%;
  ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    // border: 2px solid black;
    li {
      cursor: pointer;
      transition: 0.6s ease;
      list-style: none;
      width: 50%;
      padding: 0px 30px 40px 0px;
      .list {
        height: 240px;
        width: 100%;
        box-shadow: 0px 0px 10px rgb(212, 212, 212);
        padding: 20px;
        border-radius: 4px;
        background-color: #ffffff;
        position: relative;
        .arrow {
          color: var(--text);
          position: absolute;
          right: 10px;
          bottom: 10px;
        }
      }
      .title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        margin-top: 20px;
        span {
          &:first-child {
            color: rgb(244, 161, 6);
            font-family: var(--karla);
            font-weight: 600;
            font-size: 16px;
          }
        }
      }
      h3 {
        font-family: var(--inter);
        font-weight: 700;
        color: var(--dark_blue);
        padding-bottom: 10px;
        font-size: 19px;
        opacity: .8;
      }
      .description {
        line-height: 1.5;
        margin-top: 10px;
      }
      &:hover {
        transform: translateY(-5px);
      }
      &:hover .arrow {
        color: orange;
      }
    }
  }
}

// Preview Css Model

.experience_detail_container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  // background-color: black;
  // opacity: .5;
  display: flex;
  place-content: center;
  place-items: center;
  z-index: 20;
  .detail_container {
    height: 90%;
    width: 90vh;
    background-color: rgb(243, 243, 243);
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 20px;
    // border: 2px solid black;
    position: relative;
    border-radius: 4px;
    outline: 2px solid white;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 99%;
      // max-height: 300px;
      // max-width: 500px;
    }
    .title {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px;
      margin-top: 20px;
      span {
        &:first-child {
          color: rgb(244, 161, 6);
          font-family: var(--karla);
          font-weight: 600;
          font-size: 16px;
          background-color: rgb(35, 34, 34);
          padding: 10px;
          border-radius: 4px;
        }
      }
    }
    h3 {
      font-family: var(--inter);
      font-weight: 700;
      color: var(--dark_blue);
      padding-bottom: 10px;
      font-size: 19px;
    }
    .description {
      line-height: 1.5;
      margin-top: 10px;
    }
    .closebutton {
      font-size: 20px;
      // background-color: black;
      height: 40px;
      width: 40px;
      display: flex;
      place-content: center;
      place-items: center;
      border: 2px solid white;
      color: white;
      background-color: black;
      border-radius: 50%;
      padding: 10px;
      position: fixed;
      top: 10px;
      right: 10px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: white;
        border-radius: 4px;
        color: black;
        border: 1px solid black;
      }
    }
  }
  &::before {
    content: ""; /* Create an empty pseudo-element */
    position: absolute; /* Position it absolutely within the parent */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(
      0,
      0,
      0,
      0.8
    ); /* Set the overlay background color with reduced opacity */
    z-index: -1;
  }
}

// ----------------------------------------------------


// Services
.services_aw_container{
  height: auto;
  width: 100%;
  float: left;
  .size_manager{
    height: 100%;
    width: 100%;
    padding: 70px;
    .header{
      h1{
        font-size: 35px;
        color: var(--dark_blue);
        font-family: var(--karla);
      }
      span{
        font-family: var(--karla);
        font-weight: 600;
        text-decoration: underline;
        cursor: pointer;
        color: var(--text);
        float: right;

        &:hover{
          color: orange;
        }
      }
    }
  }
}
.services_listing{
  ul{
    li{
      width: 33.33%;
      .list{
        border: .5px solid rgb(156, 156, 156);
        box-shadow: none;
        height: 280px;
        .arrow{
          font-size: 18px;
          left: 20px;
          bottom: 10px;
          font-family: var(--karla);
        }
      }
    }
  }
}

.services_detail_container{
  .detail_container{
    overflow: auto;
    h3{
      margin-top: 20px;
    }
  }
}
// ---------------------------------------------

.contact_aw_container{
  background-color: #e9f9ff;
  float: left;
  height: auto;
  width: 100%;
  padding-bottom: 100px;
  .size_manager{
    padding: 80px;
    // border: 2px solid black;
    line-height: 1.5;
    display: flex;
    column-gap: 20px;
    .header{
      padding-bottom: 20px;
      flex: 1;
      h1{
        font-size: 35px;
        font-family: var(--karla);
        padding-bottom: 20px;
      }
      .contact_desc{
        padding-bottom: 20px;
      }
      .detail{
        line-height: 2;
        float: left;
        li{
          list-style-type: none;
          font-family: var(--karla);
          text-decoration: underline;
          padding: 5px;
          cursor: pointer;
          font-weight: 600;

          &:hover{
            color: orange;
          }
        }
      }
    }
    form{
      flex: 1;
      // border: 2px solid black;
      padding: 10px;
      // height: auto;
      float: left;
      .form_control{
        width: 100%;
        height: 60px;
        margin-bottom: 20px;
        box-shadow: 0px 0px 5px rgb(254, 255, 235);
        input,textarea{
          height: 100%;
          width: 100%;
          font-family: var(--karla);
          padding: 20px;
          font-size: 18px;
          border: none;

        }
        textarea{
          height: 120px;
        }
      }
      button{
        margin-top: 50px;
      }
    }
  }
  .contact_gmap_container{
    padding: 30px;
    width: 100%;
    height: 350px;
    float: left;
    iframe{
      width: 100%;
      border: none;
      height: 100%;
      border-radius: 4px;
      box-shadow: 0px 0px 5px rgb(173, 173, 173);
    }
  }
}


// contact us 


// -----------------------------------

@media screen and (max-width: 1200px) {
  .homepage_container {
    .internal_space {
      .image_container {
        img {
          height: 300px;
          width: 300px;
        }
      }
      .data_container {
        h1 {
          font-size: 40px;
        }
      }
    }
  }
  .about_page_container {
    .size_manager {
      padding: 80px 0px 0px 0px;
    }
  }
  .services_listing{
    ul{
      li{
        width: 50%;
      }
    }
  }
  .anil_aw_experience{
    .size_manager{
      padding: 50px;
    }
  }
}

@media screen and (max-width: 950px) {
  .container {
    .side_bar_place {
      width: 200px;
    }
    .pages_place {
      width: calc(100% - 200px);
    }
  }
  .sidebar_container {
    width: 200px;
    .copyright_container {
      p {
        padding: 10px;
        font-size: 15px;
      }
    }
  }
  .about_page_container {
    .size_manager {
      padding: 50px 0px 0px 0px;
    }
  }
  .services_aw_container{
    .size_manager{
      padding: 30px;
    }
  }

  .anil_aw_experience{
    .size_manager{
      padding: 30px;
      .aw_experience_listing{
        ul{
          li{
            .title{
              margin-top: 2px;
            }
          }
        }
      }
    }
  }
}

.sidebar_mobile_container {
  display: none;
}
@media screen and (max-width: 760px) {
  .sidebar_mobile_container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    .name_container {
      h2 {
        font-family: var(--karla);
        font-size: 30px;
        color: var(--blue_color);
      }
    }
    .open_off_container {
      .menuicon {
        font-size: 35px;
        transition: 0.3s ease;
      }
    }
  }
  .container {
    .side_bar_place {
      display: none;
    }
    .pages_place {
      width: 100%;
    }
  }
  .sidebar_container {
    display: none;
  }
  .homepage_container {
    height: auto;
    .internal_space {
      display: block;
      height: 100%;
      .image_container {
        width: 100%;
        padding: 0;
        margin: 0;
        img {
          height: 300px;
          width: 300px;
        }
      }
      .data_container {
        width: 100%;
        height: auto;
        padding: 20px;
      }
    }
  }
  .about_page_container {
    .size_manager {
      padding: 50px;
      height: 100%;
      .about_aw_biography {
        height: auto;
        display: block;
        float: left;
        .left {
          width: 100%;
        }
        .right {
          float: left;
          margin-top: 50px;
          width: 100%;
        }
      }
      .anil_aw_counter {
        float: left;
        ul {
          display: block;
          li {
            width: 100%;
            margin-top: 10px;
            &::before {
              display: none;
            }
          }
        }
      }
    }
    .anil_aw_experience {
      .aw_experience_listing {
        ul {
          display: block;
          li {
            width: 100%;
            padding: 0px 0px 20px 0px;
            div {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .anil_aw_experience{
    .size_manager{
      padding: 20px;
    }
  }
  .services_aw_container{
    .size_manager{
      padding: 10px;
      .header{
        padding: 30px 0px 0px 20px;
      }
    }
  }
  .services_listing{
    ul{
      li{
        width: 100%;
        padding: 10px;
        margin-left: 10px;
        .list{
          width: 100%;
          height: 200px;
        }
      }
    }
  }
  .contact_aw_container{
    .size_manager{
      display: block;
      padding: 40px;
      form{
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  * {
    user-select: none;
  }
  .container {
    overflow: hidden;
  }
  .homepage_container {
    .internal_space {
      .data_container {
        margin-top: 20px;
        h1 {
          font-size: 30px;
        }
      }
    }
  }
  .about_page_container {
    .size_manager {
      padding: 50px 10px 0px 10px;
    }
  }
  .contact_aw_container{
    .size_manager{
      border: 2px solid white;
      padding: 15px;
      form{
        padding: 2px;
      }
    }
  }
}

@keyframes menu {
  from {
    width: 0;
  }
}


@media screen and (min-width:760px) {
  .global_button_fill{
    &:hover {
      border: 2px solid #130f49;
      color: #130f49;
      background-color: transparent;
    }
  }
  .global_button_nofill{
    &:hover{
      &:hover {
        background-color: #130f49;
        color: white;
      }
    }
  }
}

html.touch *:hover {
  color: inherit !important;
  background: inherit !important;
}